# Env vars for MCPs, APIS, etc.

# Google Gemini
# API Keys for Google AI Studio
# https://aistudio.google.com/api-keys
GEMINI_API_KEY=

# Recraft
# tastefully crafted AI image models
# https://www.recraft.ai/
RECRAFT_API_KEY=

# Neon
# Fast Postgres Databases & Auth for Teams and Agents
# https://neon.com
# Dev branch for database & auth
DATABASE_URL=
NEON_AUTH_BASE_URL=
NEON_AUTH_COOKIE_SECRET=